<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"><title>N4F 2.0</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'n4f2/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'n4f2/w3.css' %}">
    </head>
    <body>
        <div class="w3-sidebar w3-bar-block w3-black w3-card" style="width:130px">
            <h5 class="w3-bar-item" onclick="openLink(event, 'Menu')">Menu</h5>
            <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Bad')">Error</button>
            <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Late')">Late</button>
            <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Complete')">Complete</button>
            <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'abandon')">Abandoned</button>
            <button class="w3-bar-item w3-button tablink" onclick="window.location.href='/accounts/logout/'">Log Out</button>
        </div>
        <div>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>