{% extends "n4f2/base.html" %}

{% block content %}
<center>
    <p><h1 style="padding-left:130px">Feed Runs {{ feed_run_report.time_settings.localtime }}</h1></p>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script>
        var checkbox
        var feedrun_pk
        var url_mask
        var csrftoken = Cookies.get('csrftoken');
        $(window).on( "load", function() {
            $( ".checkbox" ).click(function( event ) {
                checkbox = event.target.id;
                feedrun_pk = checkbox.split('_')[1];
                url_mask = "{% url 'n4f2:notify' 00000  %}".replace(/0/, feedrun_pk.toString());
                function csrfSafeMethod(method) {
                    // these HTTP methods do not require CSRF protection
                    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                }
                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    }
                });
                $.post(url_mask);
            });
        });
    </script>
    {% if user.is_authenticated %}    
        {% if feedruns %}
            <!-- Feeds in Errored State --> 
            <div id="Bad" class="w3-container status w3-animate-left" style="display:block">
            <table class="n4f2">
                <tr>
                    <th>Run&nbsp;ID</th>
                    <th>Site Name</th>
                    <th>Feed&nbsp;Date</th>
                    <th>Status Message</th>
                    <th>Last&nbsp;Sucessfull&nbsp;Run</th>
                    <th>Notification&nbsp;Sent</th>
                </tr>
            {% for feed in feedruns %}   
                {% if feed.last_received >= feed_run_report.time_settings.dontReport and feed.status_code == "ERROR" or feed.last_received >= feed_run_report.time_settings.dontReport and feed.status_code == "COMPLETE_WITH_FATAL_ERRORS" %}
                        <tr class="bad">
                                    <td><center><a href= {{ feed.run_link }} target="_blank">{{ feed.run_id }}</a></center></td>
                                    <td data-toggle="collapse" data-target=#{{ feed.id }}><center><strong>{{ feed.site_name }}</strong><br>Using Feed Profile:&nbsp;{{ feed.feed_profile }}</center></td>
                                    <td><center>{{ feed.last_received }}</center></td>
                                    <td><center><a href= {{ feed.console_link }} target="_blank">{{ feed.status_code }}</a></center></td>
                                    <td><center>{{ feed.last_success }}</center></td>
                                    <td vertical-align: top;><center><input class="checkbox" type="checkbox" id=checkbox_{{ feed.id }} {% if feed.notification_sent == True %} checked="checked"{% endif %}></center></td>
                        </tr>
                        <tr class="bad">
                                <td colspan="6"><div id={{ feed.id }} class="collapse" style="padding: 5px">{{ feed.status_summary }}</div></td>
                        </tr>
                {% endif %}
            {% endfor %}
            </table>
            </div>
            <!-- Feeds in Delayed State -->
            <div id="Late" class="w3-container status w3-animate-left" style="display:none">
                <table class="n4f2">
                    <tr>
                        <th>Run&nbsp;ID</th>
                        <th>Site Name</th>
                        <th>Feed Date</th>
                        <th>Status Message</th>
                    </tr>
            {% for feed in feedruns %}
                {% if feed.status_code == "COMPLETE_LATE" and feed.last_received >= feed_run_report.time_settings.dontReport %}
                    <tr class="delayed">
                        <td><center><a href= {{ feed.run_link }} target="_blank">{{ feed.run_id }}</center></td>
                        <td><center><strong>{{ feed.site_name }}</strong><br>Using Feed Profile:&nbsp;{{ feed.feed_profile }}</center></td>
                        <td><center>{{ feed.last_received }}</center></td>
                        <td><center>{{ feed.status_code }}</center></td>
                    </tr>
                {% endif %}
            {% endfor %}
            </table>
            </div>
            <!-- Feeds in Successful State -->
            <div id="Complete" class="w3-container status w3-animate-left" style="display:none">
                <table class="n4f2">
                        <tr>
                        <th>Run&nbsp;ID</th>
                        <th>Site Name</th>
                        <th>Feed Date</th>
                        <th>Status Message</th>
                    </tr>
            {% for feed in feedruns %}
                {% if feed.status_code == "COMPLETE" and feed.last_received >= feed_run_report.time_settings.dontReport %}
                    <tr class="ok">
                        <td><center><a href= {{ feed.run_link }} target="_blank">{{ feed.run_id }}</center></td>
                        <td><center><strong>{{ feed.site_name }}</strong><br>Using Feed Profile:&nbsp;{{ feed.feed_profile }}</center></td>
                        <td><center>{{ feed.last_received }}</center></td>
                        <td><center>{{ feed.status_code }}</center></td>
                    </tr>
                {% endif %}
            {% endfor %}
            </table>
            </div>
            <!-- Feeds over 30 days -->
            <div id="abandon" class="w3-container status w3-animate-left" style="display:none">
                <table class="n4f2">
                    <tr>
                        <th>Run&nbsp;ID</th>
                        <th>Site Name</th>
                        <th>Feed Date</th>
                        <th>Status Message</th>
                    </tr>
            {% for feed in feedruns %}
                {% if feed.last_received < feed_run_report.time_settings.dontReport %}
                        <tr class="abandon">
                            <td><center><a href= {{ feed.run_link }} target="_blank">{{ feed.run_id }}</center></td>
                            <td><center><strong>{{ feed.site_name }}</strong><br>Using Feed Profile:&nbsp;{{ feed.feed_profile }}</center></td>
                            <td><center>{{ feed.last_received }}</center></td>
                            <td><center>{{ feed.status_code }}</center></td>
                        </tr>
                {% endif %}
            {% endfor %}
                </table>
            </div>
            <!-- HookLogic Feeds -->
            <div id="hooklogic" class="w3-container status w3-animate-left" style="display:none">
                <table class="n4f2">
                    <tr>
                        <th>Run&nbsp;ID</th>
                        <th>Site Name</th>
                        <th>Feed&nbsp;Date</th>
                        <th>Status Message</th>
                    </tr>
            {% for feed in hooklogicruns %}
                    <tr {% if feed.status_code == "ERROR" %} class="bad" {% elif feed.status_code == "POSTPONED_SITE_CONFLICT" %} class="delayed" {% elif feed.status_code == "UNFINISHED" %} class="delayed" {% else %} class="ok" {% endif %}>
                        <td><center><a href= {{ feed.run_link }} target="_blank">{{ feed.run_id }}</a></center></td>
                        <td data-toggle="collapse" data-target=#{{ feed.id }}><center><strong>{{ feed.site_name }}</strong><br>Using Feed Profile:&nbsp;{{ feed.feed_profile }}</center></td>
                        <td><center>{{ feed.last_received }}</center></td>
                        <td><center><a href= {{ feed.console_link }} target="_blank">{{ feed.status_code }}</a></center></td>
                    </tr>
                    <tr {% if feed.status_code == "ERROR" %} class="bad" {% elif feed.status_code == "POSTPONED_SITE_CONFLICT" %} class="delayed" {% elif feed.status_code == "UNFINISHED" %} class="delayed" {% else %} class="ok" {% endif %}>
                        <td colspan="4"><div id={{ feed.id }} class="collapse" style="padding: 5px">{{ feed.status_summary }}</div></td>
                    </tr>
            {% endfor %}
                </table>
            </div>
        {% endif %}        
    {% else %}
        <meta http-equiv="refresh" content="0; url=/accounts/login/" />
        <p><a href="{% url 'login'%}?next={{request.path}}">You must be logged in to view this page.</a></p>
        <p>Redirecting to login.</p>
    {% endif %}
</center>
{% load static %}
<script src="{% static 'n4f2/scripts.js' %}"></script>
{% endblock %}