# Python bytecode:


# SQLite3 database files:
*.db

# Postgres database
database/

# Logs:
logs
*.log

# Linux Editors
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*
*.swp
*.swo

# Mac
.DS_Store
._*

# Pycharm
.idea/*

# Windows
Thumbs.db
Desktop.ini

