{% extends "n4f2/base.html" %}
{% block content %}
  <center>
      <div class="container">
        <div class="row">
          <div class="col-md-offset-5 col-md-3">
            <div class="form-login">
              <h4>Password Reset</h4>
              <form method="post">
                {% csrf_token %}
                {% if form.errors %}
                  {% if form.errors.items|length == 1 %}
                  <p class="loginError">Please correct the error below</p>
                  {% else %}
                  <p class="loginError">Please correct the errors below</p>
                  {% endif %}
                {% endif %}
                <div id="oldPassword">
                  <p class="loginError">{{ form.old_password.errors }}</p>
                  <td>{{ form.old_password.label_tag }}</td>
                  <td class="form-control input-sm chat-input">{{ form.old_password }}</td>
                </div>
                <br>
                <div id="newPassword1">
                  <p class="loginError">{{ form.new_password1.errors }}</p>
                  <td>{{ form.new_password1.label_tag }}</td>
                  <td class="form-control input-sm chat-input">{{ form.new_password1 }}</td>
                </div>
                <div id="newPassword2">
                  <p class="loginError">{{ form.new_password2.errors }}</p>
                  <td>{{ form.new_password2.label_tag }}</td>
                  <td class="form-control input-sm chat-input">{{ form.new_password2 }}</td>
                </div>
                <br>
                <div class="wrapper">
                  <div class="group-btn">
                    <span class="group-btn">
                      <input type="submit" value="Change my password" class="btn btn-primary btn-md">
                    </span>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
  </center>
{% endblock %}