html { 
    background-color: white;
}
h1 { 
    font-family: "Times Roman", serif;
    font-size: 15pt;
    font-weight: bold;
}
body { 
    margin: 10px;
    font-family: "Times Roman", serif;
    font-size: 10pt;
    color: black;
    background-color: white;
}
table.n4f2 { 
    border-collapse: collapse;
    border-color: #E1EEF4;
    width: 800px;
    display: inline;
    padding-left: 130px;
}
th { 
    font-family: "Times Roman", serif;
    font-size: 13pt;
    border: 1px solid;
    border-color: #E1EEF4;
    font-weight: bold;
    padding: 5px 5px;
    color: white;
    background-color: #003E5C;
    text-align: center;
}
td { 
    font-family: "Times Roman", serif;
    font-size: 10pt;
    border: 1px solid;
    border-color: #E1EEF4;
    padding: 0px 3px;
}
tr.ok { 
    background-color: #c0ffc0;
    border-color: #E1EEF4;
}
tr.bad { 
    font-weight: normal;
    color: rgb(255, 255, 255);
    background-color: #971b13;
    border-color: #ffc0c0;
}
tr.delayed { 
    font-weight: bold;
    color: #404040;
    background-color: #F5A61D;
    border-color: #E1EEF4;
}
tr.abandon { 
    color: #808080;
    background-color: #e0e0e0;
    border-color: #E1EEF4;
}
span.sp { 
    font-family: "Times Roman", serif;
    font-size: 15pt;
    color: #780000;
}
table.legend { 
    border-collapse: collapse;
    border: 1px solid;
    border-color: #E1EEF4;
    width: 300px;
}
div.login {
    padding-left: 130px;    
}

.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}

h4 { 
    border:0 solid #fff; 
    border-bottom-width:1px;
    padding-bottom:10px;
    text-align: center;
    font-weight: bolder;
}

a.title {
    color: #ffffff;
}

.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}

p.loginError {
    color: #e62929;
}
